body{
    background-color: rgb(33, 37, 43) !important;
    margin: 0;
    padding: 5%;
}

.logo{
    border-radius: 100%;
}

img{
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}


.navbar{
    border-radius: 1.5rem;
    border: 2px solid rgb(33, 37, 33);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item{
    margin-left: 4% !important;
    margin-right: 4% !important;
}

.add-btn{
    border: none;
    border-radius: .8rem;
    padding: .5%;
    color: white;
    background-color: rgb(52, 155, 83);
}

.hero-logo{
    margin-top: 10%;
    border-radius: 100rem;
}

.hero-title{
    color: white;
    margin-top: 5%;
    font-size: 4rem;
}

.title-hr{
    color: rgb(78, 90, 240);
    height: 10px !important;
    width: 100%;
    opacity: 100%;
}

.hero-sub-text{
    color: white;
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 8%;
    margin-top: 8%;
}

.tags{
    border:none;
    padding: 2%;
    background-color: rgb(78, 90, 240);
    color: white;
    font-weight: bold;
    border-radius:  .8rem;
    margin-right: 1%;
    margin-bottom: 2%;
}

.prefix{
    border:none;
    padding: 2%;
    border-radius: .8rem;
    background-color: rgb(47, 50, 55);
    color: white;
    font-weight: bold;
    padding-left: 40%;
    padding-right: 40%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.invite-btn{
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10%;
    background-color: rgb(52, 155, 83);
    color: white;
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: .8rem;
    font-weight: bold;
}

.commands-title{
    color: white;
    margin-top: 15%;
    font-size: 3.8rem;
}

.sub-commands{
    color: white;
    font-size: 3rem;
    margin-top: 10%;
    border: none;
    padding: 2%;
    background-color: rgb(47, 50, 55);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

.command-line{
    margin-top: 10% !important;
}

.command-item{
    text-align: right !important;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.command-desc{
    color: #fff;
    text-align: center !important;
    font-weight: bold;
}

.line{
    color: white;
    text-align: left;
}

.example{
    color: #fff;
    font-weight: bold;
    margin-right: 2%;
}

.usage{
    border:none;
    padding: 2%;
    border-radius: .8rem;
    background-color: rgb(47, 50, 55);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 10%;
    padding-right: 10%;
}

.seperator {
    color: white;
    margin-top: 10% !important;
    width: 90% !important;
}

.group{
    border: none;
    color: white;
    padding: 1.5%;
    font-weight: bold;
    background-color: rgb(52, 155, 83);
    border-radius: .8rem;
    margin-left: 4%;
}

.danger{
    color: white;
    font-size: 3rem;
    margin-top: 10%;
    border: none;
    padding: 2%;
    background-color: rgb(243, 54, 60);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

.nav-button{
    border:none;
    background-color: rgb(33, 37, 43);
    font-size: 1.2rem;
}

.add-tags{
    border:none;
    padding: 2%;
    background-color: rgb(52, 155, 83);
    color: white;
    font-weight: bold;
    border-radius:  .8rem;
    margin-right: 1%;
    margin-bottom: 2%;
}

.danger-tags{
    border:none;
    padding: 2%;
    background-color: rgb(243, 54, 60);
    color: white;
    font-weight: bold;
    border-radius:  .8rem;
    margin-right: 1%;
    margin-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.site-footer
{
  background-color:rgb(30, 33, 38);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  border-radius: 1.5rem;
  margin-top: 10%;
  color: white;
  border: 2px solid rgb(33, 37, 33);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.site-footer .contact-title{
    font-size: 3.5rem;
}

.site-footer .contact-hr
{
  color: rgb(78, 90, 240);
  height: 10px;
  width: 70%;
  opacity: 100%;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:2rem;
  font-family: 'Raleway', sans-serif;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#000;
  text-decoration: none;
}
.site-footer a:hover
{
  color:black;
  text-decoration:underline;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  margin-top: 5%;
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black;
  margin-left: 2%;
  margin-top: 15%;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: black;
  text-decoration:underline;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#d1d1d1;
  color: white;
}
.footer-btn{
  margin-top: 5%;
  margin-left: 5%;
}

.site-footer .footer-item-custom{
  margin-top: 5%;
  margin-bottom: 5%;
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.social-icons .youtube:hover{
    background-color: rgb(254, 0, 0);
}

.social-icons .github:hover{
    background-color: rgb(26, 29, 32);
}

.social-icons .discord:hover{
    background-color: rgb(76, 85, 232);
}

.social-icons .reddit:hover{
    background-color: orangered;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media (min-width: 1200px){
    .nav-button{
        display: none;
    }

}


@media (max-width: 786px){
    .add-btn{
        padding-left: 5% !important;
        padding-right: 5% !important;
        margin-left: 2% !important;
    }
}
