*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    padding: 1rem 8rem;
}

.navbar .navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Homemade Apple';
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: white;
    font-size: 1.1rem;
    padding: 0 1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: rgb(167, 164, 164);
}

#navbarSupportedContent > button{
    background-color: white;
    border: 2px solid rgb(30, 33, 37);
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 10px;
    color: black;
    box-shadow: inset 0 0 0 0 rgb(28, 156, 28);
    transition: ease-out 0.3s;
}

#navbarSupportedContent > button:hover{
    box-shadow: inset 150px 0 0 0 rgb(28, 156, 28);
    color: white;
}


.banner{
    width: 100%;
    height: 100vh;
}

.parallax{
    background: url('banner.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 70%;
}