/*      [BANNER]      */

.pfp{
    margin-left: 5%;
    width: 60%;
}

.banner-text{
    padding: 1.5%;
}

.banner-text-title{
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 20%;
}

.banner-text-para{
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
}


/*      [ABOUT]       */

.about-title{
    font-size: 5rem;
    font-family: 'Raleway', sans-serif;
}

.about-hr{
    width: 50%;
    height: 30px;
}