/*---{    GLOBAL    }---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.nav-item{
    margin-left: 4%;
    margin-right: 4%;
}

body{
    overflow-x: hidden;
}



/*---{    NAVIGATION-BAR    }---*/

.navbar .navbar-brand{
    font-size: 1.4rem;
    font-family: 'Homemade Apple';
    margin-left: 2%;
}

.navbar .navbar-brand:hover{
    color: rgb(154, 155, 157);
    transform: ease-in-out 0.3s;
}

.btn-contact{
    color: black;
    border-radius: 30px;
    margin-right: 2%;
    margin-left: 4%;
    background-color: white;
    font-weight: 500;
}

.dropdown-menu{
    border-top: 2px solid rgb(226, 226, 226);
    background-color: rgb(30, 33, 37);
}

.dropdown-item{
    color: rgb(154, 155, 157);
}

.dropdown-item:hover{
    color: white;
    background-color: rgb(30, 33, 37);
}

.dropdown-divider{
    color: white;
    width: 75%;
}



/*---{    BANNER-SECTION    }---*/

.banner{
    margin-top: 5%;
}

.banner-title{
    font-size: 6rem;
    font-weight: bolder;
}

.banner-sub-text{
    margin-top: 5%;
}

.banner-img{
    margin-top: 10%;
    width: 50%;
    border-radius: 100%;
    box-shadow: 0 0 10px 0 rgb(30 , 33, 37);
}

