@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root{
    --link-color: #fff;
    --body-color: rgb(29 30 33);
    --text-color: #fff;
    --box-shadow: 4px 4px 12px #131313,-4px -4px 12px rgb(22, 22, 22);
    --input-color: rgb(56 60 66);
    --faded-text: rgb(194, 194, 194);
    --dropdown-color: rgb(56 60 66);
    --scroll-bg: #121212
}

.light-theme{
    --link-color: #000;
    --body-color: #fff;
    --text-color: #000;
    --box-shadow: 4px 4px 12px #c0c0c0,-4px -4px 12px rgb(236, 236, 236);
    --input-color: #e0e5ec;
    --faded-text: dimgray;
    --dropdown-color: #fff;
    --scroll-bg: #fff
}




html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--body-color) !important;
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 5px;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--scroll-bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--link-color);
    border-radius: 2rem;
}


.navbar{
    padding: 1% 4%;
}

.nav-link{
    color: var(--link-color) !important
}


.navbar-brand{
    font-size: 1.5rem !important;
    color: var(--link-color) !important;
    font-weight: 900;
}

.banner-title{
    color: white;
    font-size: 7rem;
    font-weight: 900;
    margin-top: 10%
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    padding: 0.4rem 0.4rem;
    font-weight: 600 !important;
}

#navbarSupportedContent > ul > li:nth-child(n){
    padding: 0.4rem 0.8rem
}


.chip{
    background-color: rgb(78, 90, 240);
    border: none;
    color: white;
    border-radius: 100rem;
    padding: 1% 1.8%;
    font-weight: bold;
    margin: 0.2%;
    margin-top: 0.8%;
}

.nav-item .fa-brands{
    margin: 0.2rem;
}

.social-icon-box{
    position: relative;
    top: -15%;
    left: 10px;
    font-size: 1.1rem !important;
    color: var(--link-color) !important
}

.social-icon-box a{
    color: var(--link-color) !important
}

#about{
    padding: 2% 4%;
}

#projects{
    padding: 2% 4%;
    margin-top: 5%;
}

.section-title{
    font-size: 4rem;
    color: var(--text-color) !important;
}

.section-title-hr{
    color: rgb(240, 35, 100) !important;
    opacity: 100%;
    width: 25%;
    height: 5px !important;
    margin-top: -1%;
}

.profile-card{
    box-shadow: var(--box-shadow) !important;
    padding: 4% 4% !important;
    margin-top: 15%;
}

.profile-card-title{
    color: var(--text-color) !important;
}

.bi-patch-check-fill{
    font-size: 1.4rem !important;
    text-align: right !important;
    color: rgb(36, 175, 255)
}

.profile-logo{
    width: 60% !important
}

.profile-card-profession{
    color: rgb(240, 35, 100) !important;
}

.profile-card-socials .fa-twitter{
    color: #1DA1F2 !important;
    font-size: 2rem;
}

.profile-card-socials .fa-instagram{
    color:rgb(240, 35, 100) !important;
    font-size: 2rem;
}

.profile-card-socials .fa-github{
    color: var(--text-color) !important;
    font-size: 2rem;
}

.profile-card-socials .fa-discord{
    color: #5866ef !important;
    font-size: 2rem;
}

.email-box{
    background-color: var(--input-color);
    color: var(--faded-text);
    padding: 2%;
    border-radius: 0.6rem;
}

.fa-ellipsis-vertical{
    color: var(--text-color);
}

.fa-ellipsis-vertical:hover{
    cursor: pointer;
}

.dropdown-menu{
    border: none !important;
    background-color: var(--dropdown-color) !important;
    box-shadow: var(--box-shadow);
}

.dropdown-item{
    color: var(--text-color) !important;
}

.dropdown-item:hover{
    background-color: var(--dropdown-color) !important;
}

.progress-title{
    color: var(--text-color);
    font-weight: 600;
    margin-top: 15% !important
}

.navbar-toggler-btn{
    border: none;
    background-color: transparent;
}


@media only screen and (max-width: 600px) {

    nav{
        box-shadow: var(--box-shadow) !important;
    }

    .remove{
        display: none;
    }

    .social-icon-box{
        top: 2%
    }

    .chip{
        margin: 2% !important;
    }

    .dropdown-menu{
        width: 60% !important;
    }

    .chip-wrapper{
        padding: 1% 5% !important
    }


}


@media only screen and (min-width: 992px) {

    .navbar-toggler-btn{
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    .social-icon-box{
        top: 10%
    }

    .dropdown-menu{
        width: 50% !important;
    }

}


@media only screen and (max-width: 1030px) {

    .social-icon-box{
        top: 10%
    }

    .remove-tab{
        display: none;
    }

}

@media only screen and (max-height: 600px) {
    .social-icon-box{
        top: -15%;
    }
}

.project-container{
    padding: 2% 10%
}

.project-row{
    margin-top: 5%;
    box-shadow: var(--box-shadow);
    padding: 2% 5%;
    color: var(--text-color);
}

.action{
    background-color: #159c5f;
    border: none;
    border-radius: 0.2rem;
    padding: 1.2% 2.5%;
    color: white;
    font-weight: 600;
}

.learn-more{
    border: none;
    padding: 1.2% 2.5%;
    border-radius: 0.2rem;
    color: white;
    background-color: rgb(78, 90, 240);
    font-weight: 600;
}

#bg{
    background-color: #000 !important;
    z-index: -1000000;
    height: 100vh !important;
    border: none !important
}

.doodle-title{
    color: var(--text-color);
    font-family: 'Patrick Hand SC', cursive;
    font-size: 6rem;
    font-weight: 900;
}

.arrow-img{
    width: 15%;
    margin-left: 28%;
    margin-top: -5%;
}

#offcanvasRightLabel{
    text-decoration: 4px solid rgb(240, 35, 100) underline;
}