html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow-x: hidden;

}

img{
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar{
    display: none;
}



.btn:focus {
    outline: none;
    box-shadow: none;
}

.sub-body{
    background-color: white;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 1.5rem;
}

.connector{
    width: 50%;
}



/*      [NAVIGATION BAR]      */

.navbar-brand{
    margin-left: 3%;
    font-size: 1.4rem;
}

.navbar-nav .nav-item{
    margin-left: 7%;
    margin-right: 7%;
}

.navbar-nav .nav-item:hover{
    margin-left: 7%;
    margin-right: 7%;
    color: black;
}

.contact-button{
    margin-right: 3%;
    border-radius: 1.5rem;
    background-color: rgb(15, 99, 253);
    color: white;
}

.navbar-button{
    border: none;
}

.work-card{
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-link{
    text-decoration: none;
}

.card-link-disabled{
    cursor: not-allowed;
    text-decoration: none;
}


.title{
    color: white;
    margin-top: 2%;
}

.link{
    text-decoration: none;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #0d6efd;
}

.link:hover{
    text-decoration: underline;
    color: #0d6efd;
}

.link-disabled{
    text-decoration: underline;
}

.link-disabled:hover{
    color: #fff;
    cursor: not-allowed;
}

.under-construction{
    font-size: 6rem;
    margin-top: 20%;
}

.progress{
    margin-bottom: 10%;
}

.gmail{
    color: white;
    background-color: rgb(243, 126, 0);
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
}


.yahoo{
    color: white;
    background-color: rgb(85, 4, 204);
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
}

.discord{
    color: white;
    background-color: rgb(76, 85, 232);
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
}

.discord-img{
    width: 60%;
    margin-bottom: 5%;
}

.modal-content{
    border-radius: 1.5rem;
}

.modal-title{
    font-family: 'Raleway', sans-serif;
}

.email-box{
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: .7rem;
    padding: 2%;
}

.mobile-work-body{
    background-color: #fff;
    border-radius: 1.5rem;
}

.mobile-work-card{
    padding: 10%;
}

.mobile-title{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    margin-top: 10%;
}

.mobile-hr{
    width: 50%;
}

.mobile-sub-title{
    font-family: 'Raleway', sans-serif;
}

@media (max-width: 786px){
    .work{
        display: none;
    }
}


@media (min-width: 1024px){
    .mobile-work{
        display: none;
    }
}

@media (max-width: 1024px){
    .contact-button{
        margin-left: 5%;
    }

    .connector{
        width: 100%;
    }
}


@media (min-width: 1200px){
    .glass{
        height: 90vh;
    }

    .glass-content{
        height: 90vh;
    }

    .glass-nav{
        height: 90vh;
    }
}