*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    height: 200px;
    background-size: cover;
    background-position: center;
    
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 50px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.6s ease;
    font-family: sans-serif;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
}

.logo img{
    float: left;
    margin-left: 50px;
    margin-top: 25px;
    width: 200px;
    border-radius: 50px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}



.title{
    font-size: 30px;
    color: white;
    text-align: left;
    top: 5%;
    left: 15%;
    position: absolute;
    font-family: sans-serif;
}

.bar{
    position: absolute;
    left: 20%;
    color: white;
    top: 14%;
    font-size: 20px;
}

.name{
    position: absolute;
    color: maroon;
    top: 25%;
    left: 25%;
    font-size: 40px;
}

.aboutme{
    color: darkslategrey;
    position: absolute;
    top: 40%;
    left: 20%;
    right: 15%;
    font-size: 30px;
}

.cs50 img{
    position: absolute;
    top: 120%;
    left: 35%;
    width: 650px;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    border: 3px;


}

.footer{
    background-color: black;
    color: white;
    padding: 3px;
    position: absolute;
    top: 200%;
    height: 200px;
    width: 1899px;
}

