/*---{    GLOBAL    }---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.nav-item{
    margin-left: 4%;
    margin-right: 4%;
}

body{
    overflow-x: hidden;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
  }

::-webkit-scrollbar{
    width: thin;
    background-color: rgb(30, 33, 37);
}

::-webkit-scrollbar-thumb{
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: #969696;
    background-clip: content-box;
}


/*---{    NAVIGATION-BAR    }---*/

.navbar .navbar-brand{
    font-size: 1.4rem;
    font-family: 'Homemade Apple';
    margin-left: 2%;
}

.btn-contact{
    color: black;
    border-radius: 30px;
    margin-right: 2%;
    margin-left: 4%;
    background-color: white;
    font-weight: 500;
}

.btn-contact:hover{
    color: rgb(250, 250 , 250);
    background-color: rgb(30, 33, 37);
}

.dropdown-menu{
    border-top: 2px solid rgb(226, 226, 226);
    background-color: rgb(30, 33, 37);
    border-radius: 10px;
}


.dropdown-item{
    color: rgb(154, 155, 157);
    cursor: pointer;
}

.dropdown-item:hover{
    color: white;
    background-color: rgb(30, 33, 37);
    cursor: pointer;
}

.dropdown-divider{
    color: white;
    width: 75%;
}

.navbar-toggler{
    background-color: rgb(30, 33, 37);
    border: none;
}

.navbar-toggler-icon:active{
    border: 1px solid rgb(30, 33, 37);
}



/*---{    WORKSPACE-SECTION    }---*/

.workspace{
    margin-top: 4%;
    padding: 1%;
}

.workspace-title{
    font-size: 5rem;font-weight: bolder;
}

.title-big{
    margin-top: 10%;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10%;
    margin-left: 5%;
    color: white;
}

.description-big{
    margin: 5%;
    color: white;
}


.title-small{
    margin-top: 3%;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.description-small{
    color: white;
    margin-top: 7%;
    font-weight: 500;
}

.vl{
    border-left: 8px solid rgba(100, 100, 100, 0.733);
    margin-top: 2%;
    margin-bottom: 2%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title-work{
    margin-top: 50%;
    margin-bottom: 50%;
}

.description-work{
    margin-top: 50%;
    margin-bottom: 50%;
}





.card-1{
    border: 5px solid white;
    background-color: black;
    border-radius: 18px;
}

.card-2{
    border: 5px solid white;
    border-radius: 18px;
    background: #fc00ff;  
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  
    background: linear-gradient(to right, #00dbde, #fc00ff);
}

.card-2 img{
    width: 60%;
    margin-bottom: 0;
}

.card-3{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid white;
    border-radius: 18px;
}

.card-3 img{
    width: 50%;
}


.card-4{
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border: 5px solid white;
    border-radius: 18px;
}

.card-5{
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid white;
    border-radius: 18px;
}

.card-5 img{
    width: 60%;
}

.card-6{
    background-color: rgb(30, 33, 37);
    border: 5px solid white;
    border-radius: 18px;
}

.card-6 .title-yt{
    margin-top: 40%;
}

.card-6 img{
    margin-top: 30%;
    margin-bottom: 10%;
}

.card-7{
    border: 5px solid white;
    border-radius: 18px;
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #db36a4, #eec409);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #db36a4, #eec409); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*---{    WORKSPACE-2-SECTION    }---*/

.workspace-1{
    margin-top: 4%;
}

.workspace-2{
    margin-top: 2%;
}

.learn-more-blue{
    color: #0d6efd;
    margin-right: 2%; 
    font-size: 1.1rem;
    text-decoration: none;
}

.learn-more-blue:hover{
    color: #0d6efd;
    text-decoration: underline;
}

.yt-link{
    margin-left: 2%;
    color: red;
    font-size: 1.1rem;
    text-decoration: none;
}

.yt-link:hover{
    color: red;
    text-decoration: underline;
}

.learn-more-black{
    color: black;
    margin-right: 2%; 
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

.learn-more-black:hover{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.projects-link-black{
    color: black;
    margin-right: 2%; 
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: bold;
}

.projects-link-black:hover{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

.projects-link-blue{
    color: #0d6efd;
    margin-right: 2%; 
    font-size: 1.1rem;
    text-decoration: none;
}

.projects-link-blue:hover{
    color: #0d6efd;
    text-decoration: underline;
}


/*---{    FOOTER-SECTION    }---*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.instagram:hover
{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-icons .youtube:hover{
    background-color: rgb(254, 0, 0);
}

.social-icons .github:hover{
    background-color: rgb(26, 29, 32);
}

.social-icons .discord:hover{
    background-color: rgb(76, 85, 232);
}

.social-icons .reddit:hover{
    background-color: rgb(255, 60, 1);
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}