/* {=========//  GENERAL-SECTIONS \\=========} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{

    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
  

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
   

::-webkit-scrollbar-thumb {
    background: rgb(30, 33, 37); 
    border-radius: 0px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #525151; 
}



/* {=========//  GLOBAL_DECLERATIONS  \\=========} */

hr{
    width: 75%;
}

.disabled{
    border-bottom: 3px solid white;
}

.workspace a{
    text-decoration: none;
    font-size: 1.3rem;
}

.workspace a:hover{
    text-decoration: underline;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
  }
  



/* {=========//  NAVIGATION-BAR  \\=========} */


.navbar .navbar-brand{
    font-family: 'Homemade Apple';
    font-weight: bolder;
    font-size: 1.5rem;
}

header .navbar{
    padding: 1rem 1.7rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: white;
    font-size: 1.1rem;
    padding: 0 1.5rem;
    margin-top: 5px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: rgb(167, 164, 164);
}

#navbarSupportedContent > button{
    margin-left: 1.5rem;
    margin-top: 5px;
}

.navbar-button{
    background-color: white;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 white;
}


/* {=========//  HERO-SECTION  \\=========} */


.banner{
    width: 100%;
    height: 100%;
}



/* {=========//  WORKSPACE  \\=========} */

.workspace{
    margin-top: 14%;
    margin: 1%;
}

.workspace h1{
    margin-top: 5%;
}

.workspace-card{
    border-radius: 10px;
}

.workspace .python{
    background-color: black;
    color: white;
    border: 5px solid white;
}

.workspace p{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.3rem;
}

.py{
    margin-top: 2%;
    font-weight: bolder;
    font-size: 3.5rem;
}

.workspace .ai{
    background: #B2FEFA; 
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  
    background: linear-gradient(to right, #0ED2F7, #B2FEFA);


    border: 5px solid white;
}

.ai-title{
    margin-top: 2%;
    font-weight: bolder;
    font-size: 3.5rem;
}

.ai p{
    font-weight: 600;
}

.code{
    width: 100%;
}

.ai img{
    width: 100%;
}

/* {=========//  WORKSPACE-LINKS  \\=========} */

.projects{
    margin-left: 2%;
}

.projects:hover{
    color: #0d6efd;
}

.learn-more:hover{
    color: #0d6efd;
}


.learn-more{
    margin-right: 2%;
}


/* {=========//  YOUTUBE-SECTION  \\=========} */

.yt{
    background-color: rgb(30, 33, 37);
    border-radius: 10px;
    border: 5px solid white;
}

.yt h1{
    color: white;
    font-size: 3.5rem;
}

.workspace .yt-title{
    font-size: 5rem;
    margin-top: 7%;
    font-weight: bolder;
}

.yt img{
    width: 100%;
    margin: 2%;
}

.yt-tutorial{
    color: red;
}

.yt-tutorial:hover{
    text-decoration: underline;
    color: red;
}


/* {=========//  WEB-SECTION  \\=========} */

.web{
    background: #11998e;  
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d); 
    background: linear-gradient(to right, #11998e, #38ef7d); 
    border-radius: 10px;
    border: 5px solid white;
    color: white;
}

.web .web-title{
    font-size: 5rem;
    font-weight: bolder;
}

.web h1{
    font-size: 3rem;
}