/* {=========//  GENERAL-SECTIONS \\=========} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{

    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
  

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
   

::-webkit-scrollbar-thumb {
    background: rgb(30, 33, 37); 
    border-radius: 0px;
}
  

::-webkit-scrollbar-thumb:hover {
    background: #525151; 
}



/* {=========//  GLOBAL_DECLERATIONS  \\=========} */

hr{
    width: 75%;
}

.disabled{
    border-bottom: 3px solid white;
}

a{
    text-decoration: none;
}



/* {=========//  NAVIGATION-BAR  \\=========} */


.navbar .navbar-brand{
    font-family: 'Homemade Apple';
    font-weight: bolder;
    font-size: 1.5rem;
}

header .navbar{
    padding: 1rem 1.7rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: white;
    font-size: 1.1rem;
    padding: 0 1.5rem;
    margin-top: 5px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: rgb(167, 164, 164);
}

#navbarSupportedContent > button{
    margin-left: 1.5rem;
    margin-top: 5px;
}

.navbar-button{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 7px;
}

/* {=========//  HERO-SECTION  \\=========} */


.hero{
    margin-top: 7%;
    padding: 10px;
    margin-bottom: 10%;
}

.hero .intro{
    margin-top: 8%;
}

.hero .intro .hero_title{
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 5%;
}

.hero .intro .sub_text{
    font-size: 1.4rem;
    color: rgb(47, 45, 45);
}

.hero .pfp{
    width: 60%;
    height: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 1px rgba(133, 133, 134, 0.822);
    margin-top: 5%;
    margin-bottom: 5%;
}

.hero .r{
    margin-top: 16%;
}



/* {=========//  WORKSPACE  \\=========} */

.workspace{
    margin-top: 14%;
    margin: 1%;
}

.workspace-card{
    border-radius: 10px;
}

.projects{
    margin-left: 2%;
}

.learn-more{
    margin-right: 2%;
}

.workspace .python{
    background-color: black;
    color: white;
    border: 5px solid white;
}

.workspace p{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.py{
    margin-top: 2%;
}

.workspace .ai{
    background-color: rgb(230, 230, 230);
    border: 5px solid white;
}

.a-i{
    margin-top: 2%;
}

.code{
    margin-top: 15%;
    margin-bottom: 10%;
    width: 40%;
    transform: rotate3d(3, -3, 0.5, -30deg);
    box-shadow: 0 0px 10px 1px rgb(186, 187, 189);
}

.code1{
    width: 40%;
    margin-top: 15%;
    margin-bottom: 10%;
    transform: rotate3d(3, 3, 0.5, 25deg);
    box-shadow: 0 0px 10px 1px rgb(186, 187, 189);
}

.ai img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

.sec2{
    background-color: rgb(16, 17, 17);
}

.sec2 .sec2-title{
    color: white;
    margin-top: 5%;
}
.sec2 h1{
    color: white;
}

.yt-tutorial{
    color: red;
}

.yt-tutorial:hover{
    color: rgb(184, 5, 5);
}