.navbar{
    background-color: rgb(78, 90, 240);
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.navbar-brand{
    font-size: 2rem;
    color: white !important;
}

.nav-item{
    color: white !important;
}

.nav-link{
    color: white !important;
    margin: 0 20px;
    border-radius: 0.8rem;
}

.nav-link:hover{
    background-color: rgb(64, 75, 221);
}

.download-btn{
    border: none;
    background-color: rgb(52, 155, 83) !important;
    padding: 0.5% 1%;
    border-radius: 0.8rem;
    color: #fff !important;
}

.dropdown-menu{
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: none;
    color: rgb(255, 255, 255) !important;
}

.dorpdown-item{
    border-radius: 1rem !important;
    color: rgb(241, 241, 241) !important;
}

.dropdown-item:hover{
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.dorpdown-item:hover{
    border-radius: 1rem;
}

.docs-inst{
    margin-top: 7%;
    color: white;
}

.docs .nav-link{
    margin-top: 20%;
    margin-bottom: 20%;
}

.docs .nav-link .active{
    background-color: rgb(78, 90, 240);
}

.docs .nav {
    background-color: #2C2F33;
    border-radius: 0.8rem;
    margin-left: 25%;
}

.docs-title{
    font-size: 4rem;
    text-decoration: underline;
}

.docs-desc{
    font-weight: 200;
    margin-top: 2%;
    margin-left: 5%;
}

.bug-form{
    background-color: rgb(78, 90, 240);
    margin-top: 5%;
    border-radius: 0.8rem;
    padding: 2%;
}

.first-name{
    background-color: #36393f;
    color: white;
    border: none;
    margin-top: 5%;
}

.first-name:focus{
    background-color: #36393f;
    color: white;
    border: none;
}

.first-name-icon{
    background-color: #36393f;
    color: white;
    border: none;
    border-right: 3px solid white;
    margin-top: 5%;
}


.last-name{
    background-color: #36393f;
    color: white;
    border: none;
}

.last-name:focus{
    background-color: #36393f;
    color: white;
    border: none;
}

.last-name-icon{
    background-color: #36393f;
    color: white;
    border: none;
    border-right: 3px solid white;
}

.bug-subject{
    background-color: #36393f;
    color: white;
    border: none;
}

.bug-subject:focus{
    background-color: #36393f;
    color: white;
    border: none;
}

.bug-subject-icon{
    background-color: #36393f;
    color: white;
    border: none;
    border-right: 3px solid white;
}

.email{
    background-color: #36393f;
    color: white;
    border: none;
}

.email:focus{
    background-color: #36393f;
    color: white;
    border: none;
}

.email-icon{
    background-color: #36393f;
    color: white;
    border: none;
    border-right: 3px solid white;
}

.bug-desc{
    background-color: #36393f;
    color: white;
    border: none;
    overflow-y: hidden;
}

.bug-desc:focus{
    background-color: #36393f;
    color: white;
    border: none;
}

.bug-desc-icon{
    background-color: #36393f;
    color: white;
    border: none;
    border-right: 3px solid white;
}




.waver{
    height: 5% !important;
}

.site-footer
{
  background-color:rgb(78, 90, 240);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}
.site-footer .contact-title{
    font-size: 3.5rem;
    color: #fff;
}

.site-footer .contact-hr
{
  color:#36393f;
  height: 10px;
  width: 70%;
  opacity: 100%;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:2rem;
  font-family: 'Raleway', sans-serif;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff !important;
  padding: 2% 4%;
  background-color: #36393f;
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#fff;
  text-decoration:underline;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  margin-top: 5%;
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black;
  margin-left: 2%;
  margin-top: 15%;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: black;
  text-decoration:underline;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:rgb(59, 54, 54);
  color: white;
}
.footer-btn{
  margin-top: 5%;
  margin-left: 5%;
}

.site-footer .footer-item-custom{
  margin-top: 2%;
  color: white;
  background-color: #36393f;
  padding: 2% 4%;
  border-radius: 0.8rem;
  margin-bottom: 2%;
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color: rgb(59, 54, 54);
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}


@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}




