html{
    overflow-x: hidden;
}

body{
    background-color: #36393f;
}

.title{
    color: white;
    margin-top: 20%;
    font-size: 6rem;
    margin-left: 5%;
}

.sub-title{
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 15%;
    color: rgb(160, 160, 160);
}

.discord-purple{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.action{
    margin-left: 5%;
    margin-top: 4%;
    border: none;
    padding: 2% 3.5%;
    color: white;
    background-color: rgb(78, 90, 240);
    border-radius: 0.8rem;
}

.dev-docs{
    border: none;
    margin-left: 2%;
    padding: 2% 3.5%;
    color: white;
    background-color: rgb(52, 155, 83);
    border-radius: 0.8rem;
}

.logo{
    margin-top: 20%;
    margin-right: 4%;
    border-radius: 1rem;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.2);
}

.about{
    background-color: rgb(78, 90, 240);
    padding: 5%;
}

.about-title{
    color: white;
    font-size: 3.5rem;
    background-color: rgb(78, 90, 240);
    text-decoration: none;
    padding: .5% 1.4%;
    border-radius: 5rem;
}

.about-title:hover{
    color: white;
}

.docs{
    background-color: rgb(78, 90, 240);
    min-height: 100vh;
}

hr{
    color: white;
    background-color: white;
    opacity: 100%;
}

.wave{
    margin-top: 5%;
}

.tab-content{
    background-color: #36393f;
    padding: 2%;
    border-radius: 0.8rem;
    min-height: 110vh;
}

.report-bug{
    background-color: rgb(247, 96, 54);
    color: white;
    padding: 1% 2%;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    border: none;
    font-weight: bold;
    margin-left: 1%;
}

.disc{
    color:#36393f;
    background-color: #36393f;
}

.bugs{
    margin-top: 10%;
    padding: 3%;
}

button {
    border: none;
}

.bug-title{
    color: white;
    font-size: 3rem;
}

.input-group{
    margin-top: 5%;
}

.discord-tag{
    background-color: rgb(78, 90, 240);
    color: white;
    border: none;
    padding: 1% 2%;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 0.8rem;
}

.submit{
    border: none;
    background-color: rgb(52, 155, 83);
    color: white;
    padding: 1% 4%;
    font-size: 1.8rem;
    border-radius: 0.8rem;
    margin-top: 2%;
}

.dev{
    background-color: #36393f;
    color: white;
    padding: 4% 8%;
    border-radius: 1rem;
}

.quick-start{
    margin-top: 10%;
}

.doc-img{
    width: 40%;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.8);
    border-radius: 1rem;
    margin-top: 2%;
    margin-left: 5%;
}

.success{
    background-color: rgb(52, 155, 83);
    color: white;
    padding: 2% 4%;
    border-radius: 0.8rem;
    margin-top: 15%;
    width: 80%;
}

.error{
    background-color: rgb(197, 31, 31);
    color: white;
    padding: 2% 4%;
    border-radius: 0.8rem;
    margin-top: 15%;
    width: 80%;
}

@keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }

.dev-doc{
    background-color: rgb(52, 155, 83);
    padding: 1.2% 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    border-radius: 0.8rem;
}

.status{
    background-color: rgb(52, 155, 83);
    color: white;
    padding: 1% 2%;
    border-radius: 0.8rem;
    font-size: 2rem;
    margin-top: 15%;
    width: 80%;
}

@media (max-width: 740px){
    header {
        display: none;
    }

    section{
        display: none;
    }

    svg{
        display: none;
    }

    body{
        padding: 7%;
    }

    .mobile{
        color: white;
        background-color: rgb(78, 90, 240);
        padding: 2% 1%;
        border-radius: 0.8rem;
    }

    .mobile-logo{
        width: 60%;
        margin-bottom: 5%;
    }

}


@media (min-width: 741px) {
    .mobile{
        display: none;
    }

    .mobile-logo{
        display: none;
    }
}

.documentation{
    margin-top: 10%;
    padding: 1%;
    border-radius: 0.8rem;
}

.docs-io{
    background-color: rgb(78, 90, 240);
    padding: 5%;
    border-radius: 0.8rem;
}