body{
    background-color: #2C2F33;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.container{
    background-color: #36393f;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    border-radius: 0.8rem;
    min-height: 50vh;
}

h1{
    font-size: 3rem;
    margin-top: 5%;
}

p{
    font-size: 1.4rem;
    margin-bottom: 5%;
}

a{
    background-color: rgb(78, 90, 240);
    border: none;
    padding: 1% 2%;
    color: white;
    border-radius: 0.8rem;
    font-size: 2rem;
    text-decoration: none;
}